.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-medium);
}

.hero-image-cont {
    width: 40%;
}

.hero-image-cont > img {
    max-width: 100%;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

.card {
    padding: var(--spacing-medium);
}

.top-cards .card {
    background: none;
    border: 2px solid var(--secondary-colour);
}

.top-cards .card .icon {
    height: 2rem;
}

.project {
    padding: var(--spacing-medium);
    border: 2px solid var(--secondary-colour);
    background-color: var(--primary-colour);
    border-radius: var(--border-radius);
}

.project .project-image {
    border-radius: var(--border-radius);
    max-width: 100%;
}

.project .about {
    flex: 1;
}

.project .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.author-image {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.project-inner {
    display: flex;
    gap: var(--spacing-medium);
}

.project-inner .project-image-cont {
    width: 40%;
}

.project-inner .project-info {
    width: 60%;
}

.project-btns {
    display: flex;
    gap: var(--spacing-small);
}

.explanation {
    border: 2px solid var(--secondary-colour);
    padding: var(--spacing-medium);
}








/* Mobile responsive styles */
@media screen and (max-width: 800px) {
    .project-inner {
        flex-direction: column;
    }
    .project-inner .project-image-cont {
        width: 100%;
    }
    .project-btns {
        flex-direction: column-reverse;
    }
    .project-inner .project-info {
        width: 100%;
    }
}