.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-big);
}

.hero-image-cont {
    width: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.hero-image-cont > img {
    max-width: 100%;
}

.image-cont {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.image-cont > img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(128, 125, 125, 0.5);
    z-index: 100000;
}
